@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@import url('https://fonts.cdnfonts.com/css/roboto-slab-2');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto Slab', sans-serif;
    }
    code {
        font-family: 'Fira Code', monospace;
        font-feature-settings: 'ss09', 'cv24', 'ss07', 'cv14', 'ss04', 'cv31', 'ss10', 'cv19', 'cv23';
    }
    h1, h2, h3 {
        @apply text-green;
        @apply h-12;
        @apply items-center;
        @apply flex;
    }
    h1 {
        @apply text-3xl;
    }
    h2 {
        @apply text-2xl;
        @apply italic;
    }
    h3 {
        @apply text-xl;
    }
    ul {
        @apply list-disc;
    }
    ol {
        @apply list-decimal;
    }
    a[href^="http://"] {
        @apply text-blue;
    }
    a[href^="https://"] {
        @apply text-blue;
    }
    p {
        @apply py-1;
        @apply indent-4;
    }
    blockquote {
        @apply p-1;
        @apply border-l-2;
        @apply border-solid;
        @apply border-gray;
        @apply text-lighter;
        @apply italic;
    }
    p img {
        @apply m-auto;
    }
    span.image-caption {
        @apply block;
        @apply text-center;
        @apply italic;
        @apply text-sm;
        @apply text-gray;
    }
    math.display {
        @apply flow-root;
    }
}
